@font-face {
        font-family: "nintendo";
        src: url("pixelnes.otf");
}

body {
	background: #333333;
	font-family: sans-serif;
	text-align: center;
	margin: 2% 15% 2% 15%;
}

canvas {
	margin: 0 auto;
}

h1 {
	font-size: 24pt;
	color: #f8a030;
	text-decoration: underline;
	margin: 5%;
}

a {
	color: #f8a030;
}

li {
	text-align: left;
	list-style-type: none;
}

#sidebar {
	background-color: #004808;
	font-size: 14pt;
	color: #ffffff;
	float: right;
	height: 444px;
	width: 35%;
}
